.Maneger-title1 {
    font-family: "IRANSansX DemiBold";
  font-size: 20px;
  font-weight: 700;
  line-height: 47.48px;
  text-align: right !important;
  color:  #484848;
  position: relative;
  margin-top: 2rem;

  margin-left: auto;
  
  
  
  
  }
  
  .Maneger-title1::after{
  
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-color: aqua;
  right: -2.3rem;
  top: 0.9rem;
  width: 24px;
  height: 24px;
  gap: 0px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
  
  background: #393E7F;
  
  
  
  }