.user-input {
  display: flex;

  width: 19rem;
  height: 3.5rem;
  background-color: #fff;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1rem;
  border: 1px solid var(--Border-Gray-Light, #bebebe);

  width: 427px;
  height: 56px;
  top: 298px;
  /* left: 767px;
padding: var(--sds-size-space-100) 16px var(--sds-size-space-100) 16px;
gap: 12px; */
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.user-input input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  outline: none;
  border: none;
  height: 100%;

  width: 85%;
}

.vpn-key {
  width: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-color: white !important;
}