* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IRANSansX Regular";
}
body{
  background-color:var(--bg-primary);
  height: fit-content;
  font-family: "IRANSansX Regular";

}




/* @font-face {
  font-family:"Behdad-Regular";
  src: url("../fonts/Behdad-Regular.otf");
  
}
@font-face {
  font-family: "Behdad-Regular-w";
  src: url("../fonts/Behdad-Regular.woff");
 
}

@font-face{
  font-family: "IRANSansX DemiBold";
  src: url("./assets/fonts/iransansx/IRANSansXDemiBold.ttf");
}

@font-face{
  font-family: "IRANSansX Regular";
  src: url("./assets/fonts/iransansx/IRANSansXRegular.ttf");
} */